.upper-bio-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
}

.bio-container{
    max-width: 75rem;
    min-width: none;
    padding: 2rem;
    height: auto;
    border-radius: 25px;
    border: 5px solid #33658A;
    background-color: #86BBD8;
    color: #2F4858;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.font-try{
    font-family: 'fuzzy';
    font-size: 2.5rem;
}