nav{
    /* position: fixed; */
    height: 150px;
    background-color: #86BBD8 ;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

#github{
    height: 70px;
    width: auto;
    margin-right: 200px;
}
#linkedin{
    height: 70px;
    width: auto;
    margin-left: 200px;
}