.profile-pic{
    margin-top: 1.5rem;
    border-radius: 25px;
    border: 5px solid #C17817;
    height: 75%;
    width: 75%;
    
}
.picture-container{
    display: flex;
    justify-content: center;
}