.profile-pic{
    margin-top: 1.5rem;
    border-radius: 25px;
    border: 5px solid #C17817;
    
}
.picture-container{
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1000px){
    .profile-pic{
        height: 45%;
        width: 45%;
    }
}