.portfolio-grid{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    /* grid-column-start: 2; */
    font-family: 'fuzzy';
}

.project-icon{
    max-height: 21em;
    width: auto;
    border-radius: 25px;
    border: 5px solid #C17817;
}