body{
    background-color: #B89E97;
}

#header{
    font-family:'fuzzy-bold';
    font-size: 3rem;
}


#signature{
    margin-top: 2rem;;
    font-family: 'blackjack';
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
