@font-face{
    font-family:'blackjack';
    src: url("../public/blackjack-font.ttf")
}
@font-face{
    font-family:'fuzzy';
    src: url("../public/FuzzyBubbles-Regular.ttf")
}
@font-face{
    font-family:'fuzzy-bold';
    src: url("../public/FuzzyBubbles-Bold.ttf")
}

/* colours:
ocean blue: #33658A 
sky blue: #86BBD8 
charcoal: #2F4858
silver pink: #B89E97
orange: #C17817*/